<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
    <!-- <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script> -->
    <!-- <script crossorigin src="graphic-walker.umd.js"></script> -->
    <div id="gwalker-div-{{ gwalker.id }}" class="gwalker-container"></div>
    <script>
        {{ gwalker.script }}
    </script>
</body>
</html>