<div id="ifr-pyg-{{ gid }}" style="height: auto">
    <head>
        <!-- ipywidgets.HTML can't execute code in <script> -->
        <style onload="
            window.addEventListener('message', (event) => {
                if (event.iframeToResize !== 'gwalker-{{ gid }}') return;
                resizeIframe(document.querySelector('#gwalker-{{ gid }}'), event.desiredHeight);
            });
        "></style>
    </head>
    <iframe
        src="/"
        width="100%"
        height="500px"
        id="gwalker-{{ gid }}"
        onload="
            const doc = this.contentDocument || this.contentWindow.document;
            const e = doc.documentElement;
            const h = Math.max(e.scrollHeight, e.offsetHeight, e.clientHeight);
            this.style.height = 0;
            this.style.height = (h + 10) + 'px';
        "
        srcdoc="{{ srcdoc }}"
        frameborder="0"
        allow="clipboard-read; clipboard-write"
        allowfullscreen>
    </iframe>
</div>
