[project]
name = "pygwalker"
dynamic = ["version"]
requires-python = ">=3.6"
description = "pygwalker: Combining Jupyter Notebook with a Tableau-like UI"
authors = [ { name = "Asm.Def", email = "woojson@zju.edu.cn" } ]
license = { file = "LICENSE" }
readme = "README.md"
keywords = [ 'visualization', 'pandas', 'data-analysis', 'tableau', 'data-exploration', 'dataframe', 'tableau-alternative', 'jupyter' ]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
]
dependencies = [
    "jinja2",
    "ipython",
    "typing_extensions; python_version <= '3.7'",
    "requests",
]
[project.urls]
homepage = "https://github.com/Kanaries/pygwalker"
repository = "https://github.com/Kanaries/pygwalker"
# changelog, documentation

[project.optional-dependencies]
pandas = ["pandas"]
polars = ["polars"]
streamlit = ["streamlit"]
all = [
    "pygwalker[pandas,polars,streamlit]",
]
dev = [
    "build",
    "twine",
]


[tool.hatch]
# metadata = { allow-direct-references = true }
version = { path = "pygwalker/__version__.py" }

[tool.hatch.build]
include = [
    "README.md", "LICENSE",
    "pygwalker",
    "pygwalker/templates/**",
    "pygwalker/templates/**/*",
    "scripts",
]
exclude = [ "/graphic-walker", "/tests" ]
artifacts = [ "pygwalker/templates/*" ]

[tool.hatch.build.hooks.jupyter-builder]
dependencies = ["hatch-jupyter-builder"]
build-function = "hatch_jupyter_builder.npm_builder"
ensured-targets = ["pygwalker/templates/dist/pygwalker-app.iife.js"]
skip-if-exists = ["pygwalker/templates/dist/pygwalker-app.iife.js"]
# install-pre-commit-hook = true
optional-editable-build = true

[tool.hatch.build.hooks.jupyter-builder.build-kwargs]
path = "app"
build_dir = "./build"
build_cmd = "build"

[tool.hatch.build.hooks.jupyter-builder.editable-build-kwargs]
path = "app"
build_dir = "./build"
build_cmd = "dev"


# [tool.hatch.build.targets.wheel]
[tool.hatch.build.targets.sdist]
include = [
    "README.md", "LICENSE",
    "app",
    "pygwalker",
    "pygwalker/templates/**",
    "pygwalker/templates/**/*",
    "scripts",
]
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
