[tool.poetry]
name = "pygwalker"
version = "0.1.4.8-alpha.0"
description = "pygwalker: Combining Jupyter Notebook with a Tableau-like UI"
authors = ["Asm.Def <woojson@zju.edu.cn>"]
license = 'Apache License 2.0'
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
]
include = [
    "./README.md", "LICENSE",
    "./pygwalker/templates/**",
    "./pygwalker/templates/**/*",
    { path = "tests", format = "sdist" },
]

[tool.poetry.dependencies]
python = "^3.5"
jinja2 = "*"
ipython = "*"
pandas = { version = "*", optional = true }
polars = { version = "*", optional = true }

[tool.poetry.extras]
pandas = ["pandas"]
polars = ["polars"]
all = ["pandas", "polars"]

[tool.poetry.group.dev.dependencies]
build = "*"
twine = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
